@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="primarycontarea">
    <div id="primarycontent">
        <h3>UWBadminton Club.</h3>
        <p>
            Our club is open to players of all skill levels, from beginners to competitive. When joining our club, you will be able to sign yourself up in a level from 1-3 (beginner, novice, intermediate). Note that levels 4 and 5 (advanced and competitive) are by test or appointment only. Generally, you will be put into games amongst your level in a 15 minute rotation. Sessions are run on a drop-in basis. When you come, simply put your tag on the board to be considered for a game, and when you leave, simply put your tag away.
            <h3>UWBadminton Club Membership Policy.</h3>
        <p>
            Students who are currently attending the University, Co-op students, and alumni are eligible to join. Please note that alumni & Co-op students need to purchase an additional Campus Recreation membership to join. This can be purchased through the PAC Office (see <a href="http://campusrec.uwaterloo.ca/sports/2010/7/21/CR_0721105823.aspx?tab=memberships">here</a> for more information. Current students who are on a study term will already have a Campus Recreation membership. If you are not affiliated with the University of Waterloo, you are not allowed to join as a member, but you are welcome to play as a guest.
            <h3>Registration.</h3>
        <p>You can register at any of our sessions in the CIF Gym, until our membership is full. The fee is $20/term and it is on a first-come first-serve basis. When you register, please have your WATcard and $20 CASH ready. If you wish to borrow a racquet from us, have your WATcard ready and we'll swap you with a racquet. When you are finished playing, we will give you back your WATcard. Shuttlecocks & nets will be provided.
        <p>
            You can also play as a guest if you wish for $5 per session. People who have already been a guest in the past for the current term may purchase a discounted membership for $15. Note that this cost does not change, even if you have been a guest multiple times.
            <h3>Proper Attire</h3>
        <p>
            All members must wear proper indoor sports shoes and sports attire. Please note that no jeans allowed.
            <!-- InstanceEndEditable -->
    </div>
</div>
