@{
    ViewBag.Title = "Home Page";
}

<header class="jumbotron">
    <section>
        <h1>Welcome to the UW Badminton Club</h1>
        <p>Click Schedule to take a look at the current matches.</p>
        <p>For more info, visit the actual site  <a href="http://badmintonclub.uwaterloo.ca/" class="btn btn-primary btn-large">More info &raquo;</a></p>
    </section>
</header>
